<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Autenticazione</title>

<style>
.plg-pale-blue {
    color: #000!important;
    background-color: rgb(192, 192, 192)!important;
}

.plg-leftbar {
    border-left: 6px solid #ccc!important;
}

.plg-container {
    padding: 0.01em 16px;
}
</style>
</head>
<body>
	<div class="plg-container plg-pale-blue plg-leftbar">
		<p><b>Funzionalità del plugin disabilitate.</b></p>
		<p>Avviare una sola istanza di QGI per poter utilizzare il plugin.</p>
	</div>
</body>

</html>